ul li {
  list-style-type: armenian;
}
html {
  box-sizing: border-box;
}
body {
  background-color: #414141;
}

.app-wrapper {
  display: grid;  

  grid-template-areas: 
  "h h"
  "n c";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  gap: 10px;
}

.app-wrapper-content {
  background-color: #a9a9a9;
  grid-area: c;
}




